emergency_history.json

# Compiled files
*.class

# Output folders
bin/
out/
SistemaEmergencias/out/
SistemaEmergencias/SistemaEmergencias/out/

# JavaFX SDK
javafx-sdk-*/

# Otros
sources.txt

# IDE
.idea/
*.iml

# OS
.DS_Store
